<p class="total">{{ totalText }}</p>
<div class="problem">{{ num1 }} + {{ num2 }}</div>
<div class="button-lists">
  <div class="button-list">
    <button class="button" *ngFor="let button of buttons; let i = index" [style.background-color]="selectedButtonIndex === i ? 'green' : ''" [disabled]="isClicked" (click)="onButtonClick(button, i)">
      {{ button }}
    </button>
  </div>
</div>
<p class="result">{{ resultMessage }}</p>
<p class="correct">{{ correctText }}<span class="correct-num">{{ correctNum }}</span></p>
<button class="button next" *ngIf="showNextButton" (click)="nextProblem()">つぎのもんだい</button>
<p class="final">{{ finalText }}</p>
<button class="button new" *ngIf="showNewButton" (click)="newProblem()">もういちどちょうせん</button>