<h2 class="h-m">たしざんゲーム</h2>
<ul class="lists">
  <li class="list">
    <a href="./tashizan1/">かんたん<br>（こたえが5まで）</a>
  </li>
  <li class="list">
    <a href="./tashizan2/">ふつう<br>（こたえが10まで）</a>
  </li>
  <li class="list">
    <a href="./tashizan3/">むずかしい<br>（こたえが11から18まで）</a>
  </li>
  <li class="list">
    <a href="./tashizan-dojo/">たしざんどうじょう<br>（そうあたり）</a>
  </li>
  <li class="list">
    <a href="./tashizan-dojo2/">たしざんどうじょう2<br>（そうあたり）</a>
  </li>
</ul>
<h2 class="h-m mt-30">ひきざんゲーム</h2>
<ul class="lists">
  <li class="list">
    <a href="./hikizan1/">かんたん<br>（こたえが5まで）</a>
  </li>
  <li class="list">
    <a href="./hikizan2/">ふつう<br>（こたえが10まで）</a>
  </li>
  <li class="list">
    <a href="./hikizan3/">むずかしい<br>（こたえが11から18まで）</a>
  </li>
  <li class="list">
    <a href="./hikizan-dojo/">ひきざんどうじょう<br>（そうあたり）</a>
  </li>
  <li class="list">
    <a href="./hikizan-dojo2/">ひきざんどうじょう2<br>（そうあたり）</a>
  </li>
</ul>

<ion-grid>
  <ion-row>
    <ion-col>1</ion-col>
    <ion-col>2</ion-col>
    <ion-col>2</ion-col>
    <ion-col>2</ion-col>
    <ion-col>2</ion-col>
    <ion-col>2</ion-col>
  </ion-row>
</ion-grid>