<h2 class="h-m text-center">たしざんゲーム</h2>
<ion-grid class="home-main">
  <ion-row class="lists">
    <ion-col class="list" size="4">
      <a href="./tashizan1/">かんたん<br>（こたえが5まで）</a>
    </ion-col>
    <ion-col class="list" size="4">
      <a href="./tashizan2/">ふつう<br>（こたえが10まで）</a>
    </ion-col>
    <ion-col class="list" size="4">
      <a href="./tashizan3/">むずかしい<br>（こたえが11から18まで）</a>
    </ion-col>
    <ion-col class="list" size="4">
      <a href="./tashizan-dojo2/">たしざんどうじょう<br>（そうあたり）</a>
    </ion-col>
  </ion-row>
</ion-grid>
<h2 class="h-m text-center">ひきざんゲーム</h2>
<ion-grid class="home-main">
  <ion-row class="lists">
    <ion-col class="list" size="4">
      <a href="./hikizan1/">かんたん<br>（こたえが5まで）</a>
    </ion-col>
    <ion-col class="list" size="4">
      <a href="./hikizan2/">ふつう<br>（こたえが10まで）</a>
    </ion-col>
    <ion-col class="list" size="4">
      <a href="./hikizan3/">むずかしい<br>（こたえが11から18まで）</a>
    </ion-col>
    <ion-col class="list" size="4">
      <a href="./hikizan-dojo2/">ひきざんどうじょう<br>（そうあたり）</a>
    </ion-col>
  </ion-row>
</ion-grid>