<h2 class="h-m">たしざんゲーム</h2>
<ul class="lists">
  <li class="list">
    <a href="./tashizan1/">かんたん<br>（こたえが5まで）</a>
  </li>
  <li class="list">
    <a href="./tashizan2/index.html">ふつう<br>（こたえが10まで）</a>
  </li>
  <li class="list">
    <a href="./tashizan3/index.html">むずかしい<br>（くりあがり）</a>
  </li>
</ul>
<h2 class="h-m mt-30">ひきざんゲーム</h2>
<ul class="lists">
  <li class="list">
    <a href="./hikizan1/index.html">かんたん<br>（こたえが5まで）</a>
  </li>
  <li class="list">
    <a href="./hikizan2/index.html">ふつう<br>（こたえが10まで）</a>
  </li>
</ul>